.button {
  display: inline-flex;
  align-items: center;
  margin: var(--space-0);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
  border: none;
  border-radius: var(--radius-md);
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
  gap: 8px;
  font-family: var(--font-family-base);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.danger {
  color: var(--color-gray-0);
  background-color: var(--color-error);
}

.button:not(:disabled).danger:hover {
  color: var(--color-gray-0);
  background-color: var(--color-error-accent);
  transform: translateY(-1px);
}

.primary {
  color: var(--color-gray-0);
  background-color: var(--color-primary);
}

.button:not(:disabled).primary:hover {
  color: var(--color-gray-0);
  background-color: var(--color-primary-accent);
  transform: translateY(-1px);
}

.secondary {
  color: var(--color-gray-0);
  background-color: var(--color-secondary);
}

.button:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.button:not(:disabled).secondary:hover {
  color: var(--color-gray-0);
  background-color: var(--color-secondary-accent);
  transform: translateY(-1px);
}

.button:not(:disabled):active {
  transform: scale(0.98);
}

.button[data-size='sm'],
.sm {
  --icon-size: 16px;

  padding: var(--space-2) var(--space-3);
  font-size: var(--font-size-xs);
}

.button[data-size='md'],
.md {
  --icon-size: 20px;

  padding: var(--space-3) var(--space-4);
  font-size: var(--font-size-sm);
}

.button[data-size='lg'],
.lg {
  --icon-size: 24px;

  padding: var(--space-4) var(--space-5);
  font-size: var(--font-size-md);
}

.iconOnly {
  justify-content: center;
  gap: 0;
}

.sm.iconOnly {
  padding: var(--space-2);
}

.md.iconOnly {
  padding: var(--space-3);
}

.lg.iconOnly {
  padding: var(--space-4);
}

.label {
  display: inline-flex;
  align-items: center;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);

  svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}
