.wrapper {
  position: relative;
  display: inline-flex;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--color-primary);
  background: transparent;
  border: none;
  border-radius: var(--radius-md);
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
  gap: var(--space-2);
  min-width: unset;

  &:focus-visible:not(.disabled) {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover:not(.disabled) {
    color: var(--color-primary-accent);
  }
}

.button:hover:not(:disabled) .icon {
  transform: rotate(90deg);
}

.open {
  transform: rotate(90deg);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dropdown {
  display: flex;
  flex-direction: column;
  padding: var(--space-1);
  background-color: var(--color-gray-0);
  border: none;
  border-radius: var(--radius-md);
  box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
  transition: background-color 0.15s ease;
  animation: dropdownIn 0.15s ease;
  cursor: pointer;
  list-style: none;
  min-width: 180px;
  overflow-y: auto;
  outline: none;
  max-height: 300px;
  transform-origin: top;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--space-2) var(--space-3);
  color: var(--color-gray-800);
  font-size: var(--font-size-md);
  border-radius: var(--radius-sm);
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
  cursor: pointer;
  gap: var(--space-4);
  user-select: none;

  &:hover {
    background-color: var(--color-gray-100);
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-primary);
  transition: transform 0.2s ease;

  svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}

.active {
  background: var(--color-gray-100);
}

.itemIcon {
  width: 20px;
  height: 20px;
  color: var(--color-primary);
  transition: transform 0.2s ease;

  svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}

.danger .itemIcon {
  color: var(--color-error);
}

.danger {
  color: var(--color-error);
}

.danger:hover {
  color: var(--color-error);
  background-color: rgb(255 56 60 / 10%);
}

.item.danger.active {
  color: var(--color-error);
  background-color: rgb(255 56 60 / 10%);
}
